<!DOCTYPE HTML>
<HTML>
	<HEAD>
		<TITLE> Welcome|Login</TITLE>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<style type="text/css">
		  .header {background-color: #80bfff; padding: 20px; color:white; size:20px; font-size:30px}
		  .footer {background-color: #80bfff; padding: 20px; color:white; size:20px; font-size:10px}
		</style>
	<meta name="google-site-verification" content="WhXC4JgzJzI770aOvadc2lyybmIG_EfqoSDEEW18oyg" />
	<meta name="keywords" content="chat-app-as,chatappas"/>
	</HEAD>
	<BODY link="#33adff">
	<div class="header">
		<img src="http://icons.iconarchive.com/icons/everaldo/crystal-clear/72/App-chat-icon.png"  height=60px width=60px alt="icon2"/>
		<b>Chat App </b>
	</div>
    <style type="text/css">
      .label {text-align: right}
      .error {color: red}
	  .div.form {margin: auto;padding: 20px; font-family: Arial,Helvetica,sans-serif; text-align:center;  display: inline-block;}
	  
    </style>
	<div class="form">
	<center>
	<br>
    <form method="post">
      <table>
        <tr>
          <td class="label">
            Username
          </td>
          <td>
            <input type="text" name="username" autofocus value="{{username}}">
          </td>
        </tr>

        <tr>
          <td class="label">
            Password
          </td>
          <td>
            <input type="password" name="password" value="">
          </td>
        </tr>
          <div class="error">
            {{error}}
          </div>
      </table>

      <input type="submit" value="Login">
    </form>
	
	<p>New User? <b><i><a href="signin.html" >SignUp here</a></i></b>
	</center>
	</div>
<div class="footer">
		 <FOOTER>
		<P ALIGN="RIGHT"> CREATED BY: METAREXX(AS)</P><BR>
		</FOOTER>
		</div>
	</BODY>
</HTML>